body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

.header {
    background-color: #1F2937;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 36px;
    margin: 8px 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.big-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.subtext,
.sub-button {
    font-size: 18px;
    color: #E5E7EB;
}

.header-info {
    display: flex;
    flex-direction: column;
}

.header-misc {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

.info {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

img {
    border: thick solid black;
    border-radius: 25%;
    height: 100px;
    width: 100px;
}

#body-list {
    justify-content: center;
    gap: 50px;
}

.quote {
    text-align: center;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.sign,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Niko {
    height: 281px;
    width: 500px;
    border: solid black;
    border-radius: 10px;
}

button {
    background-color: #3882F6;
    max-width: 75px;
    height: auto;
    border-radius: 5px;
}